<p id="notice"><%= notice %></p>

<h1>Listing Transacs</h1>

<table>
  <thead>
    <tr>
      <th>Inout</th>
      <th>Amount</th>
      <th>Amount</th>
      <th>Title</th>
      <th>Account</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @transacs.each do |transac| %>
      <tr>
        <td><%= transac.inout %></td>
        <td><%= transac.amount %></td>
        <td><%= transac.amount %></td>
        <td><%= transac.title %></td>
        <td><%= transac.account_id %></td>
        <td><%= link_to 'Show', transac %></td>
        <td><%= link_to 'Edit', edit_transac_path(transac) %></td>
        <td><%= link_to 'Destroy', transac, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Transac', new_transac_path %>
