<p id="notice"><%= notice %></p>

<p>
  <strong>Inout:</strong>
  <%= @transac.inout %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @transac.amount %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @transac.amount %>
</p>

<p>
  <strong>Title:</strong>
  <%= @transac.title %>
</p>

<p>
  <strong>Account:</strong>
  <%= @transac.account_id %>
</p>

<%= link_to 'Edit', edit_transac_path(@transac) %> |
<%= link_to 'Back', transacs_path %>
