<h2>Connexion:</h2>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :login %>
      <%= f.text_field :login, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.submit "Log in", class: "btn btn-primary" %>
    <% end %>

  </div>
</div>
<br>
<br>
<div class="row">
  <div class="col-md-6 col-md-offset-3">

	<%= link_to "Création d'un nouvel utilisateur", new_user_path %>

  </div>
</div>
