<!DOCTYPE html>
<html>
<head>
  <title>Exo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<h3>Exercice NICOLAS: mini-plate-forme</h3>

<%= @current_user %>
<% if ( session[:user_id] ) %>
	<%= "(user #{session[:user_id]} : #{User.find_by(id: session[:user_id]).login})" %>
	<%= link_to 'Déconnexion', logout_url, method: :delete, data: { confirm: 'Souhaitez-vous vous déconnecter ?' } %>
<% else %>
	<%= link_to "Création d'un utilisateur", new_user_path %>
<% end %>


<%= yield %>

</body>
</html>
